  body, html { height: 100%; }
  body, html, .content { margin: 0; }
  body { position: relative; }
  .content {
    background: #15140F url(./hands-up.jpg) no-repeat top left;
    background-size: cover;
    font-family: Impact, sans-serif;
    font-size: 30px;
    color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 50px;
  }
  .inner {
    width: 40%;
  }
  .pointer {
    position: fixed;
    left: 14%;
    bottom: 30%;
    display: none;
  }
  .socal div form input { display: block; }
  a,
  a:visited,
  a:hover,
  a:active { color: white; }

    @media (max-width: 1080px) {
    h1 { font-size: 60px; }
    h2 { font-size: 40px; }
    h3 { font-size: 30px; margin-top: 30px; }
    .content { background-position: top center; }
  }
  @media (max-width: 800px) {
    .content .inner { width: 100% }
    .content { padding: 10px; }
    .social { width: 100%; }
    .social div { float: left; margin: 0 8px;}
    .socal div form input { display: inline-block; }
  }
